*{
    margin: 0;
    font-family: 'Quicksand', serif;
    box-sizing: border-box;
}
body{
    background-image: url(/img/WhatsApp\ Image\ 2023-02-22\ at\ 21.02.50.jpeg);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

header{
    display: flex;
    background-color: rgba(61, 107, 8, 0.76);
    justify-content: center;
    height: 150px;
}

a:hover{
    color: white;
    text-decoration: none;
}
.logo{
    margin: auto;
    margin-right: 15%;
}
.normal{
    display: flex;
    color: white;
    margin: 2%;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'EB Garamond', serif;

}
button, .boton{
    width: 7em;
    position: relative;
    height: 4em;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
}
.boton1{
    width: 5em;
    position: relative;
    height: 3em;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    margin: -1em;

}
.boton{
    width: 15em;
}
button::after{
    content: "";
    position: absolute;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
}
button:hover::before, button:hover::after{
    transform: scale(0);
}
button:hover{
    border: 3px ridge rgb(212, 247, 55);
    box-shadow: inset 0px 0px 25px rgba(255, 255, 0, 0.438);
}
.logo img{
    width: 200px;
    height: 140px;
}
.nav-link{
    font-size: 22px;
}
.dropdown-menu{
    margin-top: 0.7em;
    background-color: rgba(165, 135, 4, 0.685);
    border: 1px solid rgba(61, 107, 8, 0.76);
}
.dropdown-menu a{
    color: white;
}
nav{
    background-color:rgba(42, 75, 6, 0.897) ;
    border-top: 2px solid rgba(255, 255, 0, 0.438);
    border-bottom: 2px solid rgba(255, 255, 0, 0.438);
    text-align: center;
}
nav a{
    margin: 1em;
}
main{
    display: grid;
    background-color:rgba(41, 41, 41, 0.507);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 100px 600px 100px 500px 100px 400px 100px 450px 100px 500px 100px 700px 100px 200px 100px 200px 100px 400px;
}
.titulo{
    margin: auto;
    margin-top: 1.5em;
    border-bottom: 2px solid rgba(255, 255, 0, 0.438);
}
.titulo p{
    color: white;
    margin: 15px;
    font-size: xx-large;
} 

.merienda, .cafe, .infusion, .choco, .copas{
    display: grid;
    grid-template-columns: 30% 10% 60%;
    grid-template-rows: 350px;
    margin: 5em;
}
.infusion{
    grid-template-rows: 250px;
}
.choco{
    grid-template-columns: 32.5% 35% 32.5%;
}
.copas{
    grid-template-rows: 150px;
}
.merienda p, .cafe p, .infusion p, .choco p, .copas p{
    color: white;
    font-size: 20px;
}
.precio1{
    margin: auto;
}
.precio1 p{
    font-size: 27px;
}
.foto{
    margin: auto;
}
.foto img{
    width: 400px;
    height: 200px;
}
.foto1, .tipos1, .precio2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 120px 120px 120px;
    margin: auto;
    margin-bottom: 1em;
}
.foto1 img{
    width: 200px;
    height: 100px;
    margin-bottom: 1em;
    border-radius: 10px;
}
main img{
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
footer{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 95px;
    background-color: rgba(61, 107, 8, 0.76);
    width: 100%;
    height: 100px;
    place-items: center;
}
.copyright {
    color: white;
    font-size:small;
    width: 95%;
}
.copyright p {
    margin: 5%;
}
.container .redes{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin:0 5px;
    background-color: white;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
} 

.container .redes .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.container .redes .icon i{
    font-size: 18px;
    line-height: 60px;
}
 .container .redes span{
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 15px;
}
.container .redes:hover{
    width: 200px;
}
.container .redes:nth-child(1):hover .icon{
    background-color: #4267b2;
}
.container .redes:nth-child(2):hover .icon{
    background-color: #405DE6;
}
.container .redes:nth-child(3):hover .icon{
    background-color: #128c7e;
}
.container .redes:hover .icon i{
    color: white;
}
.container .redes:nth-child(1):hover span{
    color: #4267b2;
}
.container .redes:nth-child(2):hover span{
    color: #E1306C;
}
.container .redes:nth-child(3):hover span{
    color: #128c7e;
}
.desplegable{
    display: none;
}
@media screen and (min-width:601px) and (max-width:1000px){
    /*Menu*/
    .normal{
        margin: 0.5%;
    }
    .logo{
        margin-right: 10%;
        margin: auto;
        margin-left: -1%;
    }
    a{
        font-size: 15px;
    }
    .nav-link{
        font-size: 15px;
    }
    button{
        width: 4em;
        height: 2em;
        margin-right: 15%;
    }
    .boton{
        width: 7em;
        height: 3.5em;
    }
    /*Contenido*/
    main{
        grid-template-rows: 100px 550px 100px 430px 100px 370px 100px 450px 100px 500px 100px 670px 100px 170px 100px 170px 100px 350px;
    }
    .titulo p{
        font-size: 25px;
    }
    .merienda p, .cafe p, .infusion p, .choco p, .copas p{
        font-size: 15px;
    }
    .precio1{
        margin: auto;
    }
    .precio1 p{
        font-size: 20px;
    }
    .merienda, .cafe, .infusion, .copas{
        grid-template-columns: 35% 15% 50%;
        grid-template-rows: 350px;
    }
    
    .foto{
        margin-left: 15%;
        margin: auto;
    }
    .foto img{
        width: 220px;
        height: 100px;
    }
    .foto1 img{
        width: 180px;
        height: 80px;
    }
    /*Footer*/
    footer{
        grid-template-columns: 60% 40%;
    }
    .container .redes{
        width: 40px;
        height: 40px;
    } 
    
    .container .redes .icon{
        width: 40px;
        height: 40px;    
        line-height: 40px;
    }
    .container .redes .icon i{
        font-size: 10px;
        line-height: 40px;
    }
    .container .redes span{
        font-size: 10px;
        font-weight: 500;
        line-height: 40px;
        margin-left: 10px;
    }
    .container .redes:hover{
        width: 100px;
    }
    .copyright{
        font-size: 10px;  
    } 
}
@media screen  and (max-width:600px){
    /*Menu Desplegable*/
    .normal{
        display: none;
    }
    .desplegable{
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background-color: transparent;
        margin: auto;
    }
    .desplegable div{
        background-color: white;
        height: 2px;
        width: 100%;
        margin-top: 5px;
        border-radius: 5px;
    }
    .menudesp{
        margin: auto;
    }
    .dropdown-menu{
        margin-right: -1%;
    }
    .dropdown-item{
        font-size: 15px;
    }
    .logo{
        margin-right: 20%;
        margin-left: -1%;
    }
    .logo img{
        width: 160px;
        height: 110px;
    }
    /*Contenido*/
    nav a{
        font-size: 15px;
    }
    main{
        grid-template-rows: 100px 550px 100px 430px 100px 370px 100px 450px 100px 500px 100px 670px 100px 170px 100px 170px 100px 350px;
    }
    .titulo p{
        font-size: 20px;
    }
    .merienda p, .cafe p, .infusion p, .choco p, .copas p{
        font-size: 13px;
    }
    .precio1{
        margin: auto;
    }
    .precio1 p{
        font-size: 15px;
    }
    .merienda, .cafe, .infusion, .copas{
        grid-template-columns: 30% 20% 50%;
        grid-template-rows: 350px;
    }
    .foto{
        margin-left: 15%;
        margin: auto;
    }
    .foto img{
        width: 220px;
        height: 100px;
    }
    .foto1 img{
        width: 180px;
        height: 80px;
    }
    /*Footer*/
    footer{
        grid-template-columns: 40% 60%;
    }
    .container .redes{
        width: 40px;
        height: 40px;
    } 
    .container .redes .icon{
        width: 40px;
        height: 40px;    
        line-height: 40px;
    }
    .container .redes .icon i{
        font-size: 10px;
        line-height: 40px;
    }
    .container .redes span{
        font-size: 10px;
        font-weight: 500;
        line-height: 40px;
        margin-left: 10px;
    }
    .container .redes:hover{
        width: 100px;
    }
    .copyright{
        font-size: 10px;  
    } 
}